@charset "utf-8";
/* CSS Document */
h1	{
	font-size: 64px;
}

#nav	{
	background-color:rgba(0,0,0,1.00);
	text-decoration: none;
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	font-size:medium;
	font-weight: bold;
	letter-spacing: 1px;
	padding:15px;
}

.selected, nav a:hover{
	color:#FF0004;
}

top	{
	background-color:rgba(0,0,0,1.00);
}

.a	{
	text-decoration: none;
}	

.b	{
	float:left;
	text-decoration: none;
	color: rgba(0,0,0,1.00);
	font-family: Arial, sans-serif;
	font-size:18px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 0px 15px;
    word-wrap: normal;		
}

body	{
	background-image: url(../PreAssessmentStuff/start/images/stucco/stucco.png);
	left: -647px;
	margin-left: 250px;
	margin-right: 250px;
	width:auto;	
	
}

ul {
     list-style-type: none;
	 text-align:right;
	 background-color:#FFFFFF;
	 padding:15px;
	 border-style:solid;
     border-width:1px;
 } 
 
li {
     display: inline;
	 margin: 8px ;
     padding: 8px ;
}

h2 	{
padding:10px;
font-size:28px;
}

h3	{
padding-left:5px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#header {
    
     color:black;
     text-align:left;
     padding:10px;
	 
}
#column1 {
    line-height:30px;
    height:300px;
    width:25%;     
	text-align:center;
	float:left;
	background-color:rgba(255,255,255,1.00);
}
#column2 {
	width: 50%;
	text-align: left;
	float: right;
	background-color: rgba(255,255,255,1.00);
	margin-top: 50px;
	padding-right: 350px;
	padding-bottom:15px;
	
}

.button {
  padding:10px;
  padding-left:40px;
  padding-right:40px;
  background-color: #dcdcdc;
  border: 1px solid #666;
  border-width:1px;
  border-radius:3px;
  color:#1200FF;
  text-decoration:none;
  font-weight: bold;
  margin-left:20px;
}

#red{
	color: red;
	font-weight: bold;
	float:left;
}

#table	{
	background-color:#FFFFFF;
	padding: 0px;
	margin-left:350px;
	margin-top:20px;
	width:70%;
}

#body	{
	background-color:rgba(255,255,255,1.00);
}
	
#images {
	float:left;
    border-style:solid;
    border-width:1px;
    padding:15px;
    margin:5px;
    height:220px;
    width:220px;
    overflow:hidden;
    text-align:center;
	margin-left:50px;
}

#bottom	{
	padding-top:30px;
	padding-left:10px;
}

#footer {
	background-color: black;
	color: white;
	clear: both;
	text-align: center;
	padding-top: 32px;
	padding-right: 32px;
	padding-left: 32px;
	padding-bottom: 32px;
}

td	{
	padding:0px;
}

